//************** at the bottom of the style.scss file

// For logo
@media (max-width: 1068px) {
  .logo {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .logo {
    font-size: 32px !important;
  }
  #header {
    .header-medium {
      .account .fas {
        padding: 0.5rem 3rem;
      }
      .search {
        margin-top: 2.5rem;
      }
    }
  }
}
//for logo medias end

//for footer
@media (max-width: 850px) {
  //section footer
  #section-footer {
    //footer top
    .footer-top {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding-top: 0;
      //logo
      .logo {
        font-size: 36px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      //logo end
      .footer-top-item {
        padding: 1rem;
      }
      .child3,
      .child2 {
        border-top: 1px dashed $light-color;
      }
    }
    //footer top end
  }
  //section footer end
}
// for footer medias end

//for ipad pro
@media (max-width: 1024px) {
  //header
  #header {
    .logo {
      font-size: 18px;
    }
    //search
    .search {
      form {
        input[type="text"] {
          width: 400px;
        }
      }
    }
    //search end
  }
  //header end

  //sections
  #section {
    //section hotel
    &-hotel {
      //hotel info
      .hotel-info {
        //hotel image
        .hotel-image {
          padding-right: 1rem;
          img {
            width: 620px;
          }
        }
        //hotel image end
      }
      //hotel info end
    }
    // section hotels end

    //section hotel infos
    &-hotel-infos {
      // hotel infos content
      .hotel-infos-content {
        display: flex;
        flex-direction: column;
        //box1 and box2
        .box1,
        .box2 {
          width: 100%;
          div {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        // box1 and box2 end
      }
      //hotel infos content end

      //other packages
      .other-packages {
        //other packages items
        &-items {
          grid-template-columns: repeat(2, 1fr);

          //first child
          & > *:first-child {
            .packages-img {
              img {
                width: 450px !important;
                margin-left: 0 !important;
              }
            }
            //packages img end

            .package-content {
              .package-value div {
                padding-right: 45% !important;
              }
            }
          }
          //first child end

          //packages img
          .packages-img {
            img {
              width: 380px !important;
              margin-left: 3rem;
            }
          }
          //packages img end
        }
        //other packages items end
      }
      //other packages end
    }
    //section hotel infos end
  }
  //sections end
}
// media max width 1024 end

//media max width 1000
@media (max-width: 1000px) {
  //section hotel infos
  #section-hotel-infos {
    .hotel-infos {
      display: none;
    }
    //hotel infos
    .hotel-infos-mobile {
      display: block;
      margin: auto;
      width: 1000px;
      // owl stage outer
      .owl-stage-outer {
        padding-top: 2.5rem;
        //owl stage
        .owl-stage {
          //owl item
          .owl-item {
            div {
              display: flex;
              justify-content: center;
            }
          }
          //owl item end
        }
        //owl stage end
      }
      //owl stage outer end
      .current {
        color: $second-color;
      }
      a {
        text-decoration: none;
        color: $main-color;
        font-weight: bold;
        &:hover {
          color: $second-color;
        }
      }
      //a edn
    }
    //hotel infos end
  }
  //section hotel inofs end
  #section-package-summery {
    .box3 .items .item .item-title {
      font-size: 14px;
    }
  }

  .big-title {
    font-size: 24px;
  }
}
//media max width 1000 end

//media max width 800
@media (max-width: 800px) {
  #header {
    .header-medium-container {
      padding: 0.5;
      .header-medium .account .fas {
        padding: 0.5rem 2rem;
      }
    }
  }

  // section hotel photos
  #section-hotel-photos .hotel-info {
    grid-template-columns: repeat(2, 1fr);
    .hotel-image {
      height: 300px;
    }
    .hotel-map-location {
      height: 240px;
    }
  }
  // section hotel photos end

  //section other activities
  #section-other-activities {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  //section other activities end

  //section footer
  #section-footer {
    .footer-down {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      // footer down item
      &-item {
        padding: 1rem;
      }
      .footer-mobile {
        display: flex;
        justify-content: center;
        border-top: 1px dashed $light-color;
        border-bottom: 1px dashed $light-color;
      }
    }
  }
  //section footer end
}
//media max width 800 end

//media max width 690
@media (max-width: 690px) {
  //section package summery
  #section-package-summery {
    //items
    .packages-infos .box3 .items {
      grid-template-columns: repeat(2, 1fr);
      .item {
        padding-bottom: 0.5rem;
      }
    }
    //items end
  }
  //section package summery end

  //section subs to our
  #section-subs-to-our {
    div {
      flex-direction: column;
      span {
        padding: 1rem;
      }
      form {
        padding: 1rem;
      }
    }
  }
  //section subs to our end
}
//media max width 690 end

//Smartphones
@media (max-width: 670px) {
  //id header
  #header {
    .header-up,
    .navbar-container {
      display: none;
    }
    .header-medium-container,
    .search,
    .account {
      display: none;
    }

    .header-mobile {
      display: block !important;
      height: 50px;
      width: 100px;
    }
  }
  //id header end
}
//smartphones end
