@import "config";
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $light-color;
  font-family: "Mulish", sans-serif;
}

//Header
#header {
  //Header Class
  .header {
    //Header Up
    &-up {
      font-size: 10px;
      font-weight: 400px;
      line-height: 12, 55px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      height: 60px;
      i {
        padding-right: 0.5rem;
        padding-left: 6rem;
      }
    }
    //Header Up End

    //Header Medium
    &-medium-container {
      padding: 1.5rem;
    }
    //header medium
    &-medium {
      //logo
      .logo {
        font-size: 24px;
        font-family: "Luckiest Guy", cursive;
        font-weight: 900;
      }
      //logo End

      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: 1rem;
      //Search
      .search {
        form {
          input[type="text"] {
            padding-left: 2rem;
            margin-right: 0;
            height: 40px;
            width: 350px;
            border: none;
            background-color: $grey-color;
            border-radius: 5px 0 0 5px;
          }

          button {
            background-color: $second-color;
            color: $light-color;
            border: none;
            height: 40px;
            width: 65px;
            transform: translateX(-5px);
            border-radius: 0 5px 5px 0;
            margin-left: 0;
          }
          //Button End
        }
        //Form End
      }
      //Search End
      //Account Class
      .account {
        display: flex;
        align-items: center;
        //Div
        div {
          display: flex;
          align-items: center;
          width: 115px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 0.5rem;
          }
        }
        //Div End
        .fas {
          padding: 0.5rem 4.8em;
        }
        .fa {
          padding: 0.5em;
        }
      }
      //Account Class End
    }
    //Header Medium End
  }
  //Header Class End

  //Navbar-container
  .navbar-container {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;

      li a {
        color: $light-color;
        text-decoration: none;
      }

      li:hover a {
        color: $second-color;
      }
    }
    // ul End
  }
  //Navbar Container End
}
// Header End

//Page Location Text
.page-location-text {
  color: $dark-color;
  padding-top: 1rem;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 1.5rem;
}

//Section
#section {
  //Section Hotel

  &-hotel {
    //Hotel name info
    .hotel-name-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //Hotel name
      .hotel-name {
        text-transform: uppercase;
        font-size: 24px;
        padding-right: 1rem;
      }
      //hotel name end
    }
    //Hotel name info End
    .page-location-text {
      font-size: 13.5px;
      width: 50%;
      transform: translateY(-15px);
      margin-bottom: 0.5rem;
    }

    //hotel info
    .hotel-info {
      display: flex;
      //Hotel image
      .hotel-image {
        img {
          width: 700px;
          height: 450px;
          border-radius: 5px;
          padding-right: 0.5rem;
        }
      }
      //Hotel image end

      .hotel-value {
        width: 350px;
        height: 210px;
        background-color: $main-color;
        color: $light-color;
        margin-bottom: 1.5rem;
        border-radius: 8px;
        //div
        div {
          display: flex;
          //left
          .left {
            display: flex;
            flex-direction: column;
            width: 220px;
            height: 130px;
            padding: 1.5rem;
            .lead {
              font-size: 10px;
            }
            .quick-booking {
              font-size: 18px;
              margin-top: 0.7rem;
            }
          }
          //left End

          //right
          .right {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            height: 130px;
            font-size: 12px;
            //div
            div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 15px;
              padding: 0.3rem 1rem;
              span {
                font-size: 22px;
              }
              &:first-child {
                margin-top: 1rem;
              }
              &:last-child {
                margin-top: 0.9rem;
                i {
                  transform: translateX(8px);
                }
              }
            }
            //div end

            i {
              margin-right: 0.5rem;
            }
            p {
              padding: 0.5rem;
            }
          }
          //right end
        }
        //div end
        button {
          padding: 1rem;
          background-color: $second-color;
          color: $light-color;
          margin: 1rem;
          border: none;
          border-radius: 5px;
          width: 90%;
          cursor: pointer;
        }
      }
      .hotel-map-location {
        width: 350px;
        height: 210px;
        margin-bottom: 1rem;
        img {
          border-radius: 10px;
        }
      }
    }
    //hotel info end

    // SECTION HOTEL package
    &-package {
      //hotel package
      .hotel-package {
        height: 100px;
        background-color: $second-color;
      }
    }
    // SECTION HOTEL package end
  }
  //Section Hotel End
}
