.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.lead {
  font-weight: bold;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.logo {
  font-size: 24px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  padding-right: 1rem;
  font-weight: bold;
}

.title i {
  font-size: 6px;
  color: #f2994a;
  padding-bottom: 0.5rem;
}

.big-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

.main-color {
  color: #0a223d;
}

.second-color {
  color: #ec1f46;
}

.light-color {
  color: #fff;
}

.bg-grey {
  background-color: #f5fafe;
  color: #333;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-main {
  background-color: #0a223d;
  color: #fff;
}

button[type="submit"] {
  border-radius: 5px;
  float: right;
  height: 40px;
  width: 120px;
  background-color: #ec1f46;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 90%;
}

.page-location-text {
  color: #333;
  padding-top: 1.4rem;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 1.5rem;
}

.flash-offer {
  background-color: #ec1f46;
  padding: 0.5rem;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  width: 70px;
}

.user-rattings {
  background-color: #ec1f46;
  font-size: 12px;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-rattings .rate {
  font-size: 20px;
}

.value {
  font-weight: bold;
  font-size: 24px;
  margin: 0.5rem 0;
}

.package-name {
  background-color: #0a223d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.dashed-line {
  width: 90%;
  height: 2px;
  margin: 2rem auto 0.2rem auto;
  border-bottom: 1px dashed #e0e0e0;
}

.star {
  font-size: 6px;
  color: #f2994a;
  padding-bottom: 0.5rem;
}

.search form input[type="text"] {
  padding-left: 2rem;
  margin-right: 0;
  height: 40px;
  width: 350px;
  border: none;
  background-color: #f5fafe;
  border-radius: 5px 0 0 5px;
}

.search form button {
  background-color: #ec1f46;
  color: #fff;
  border: none;
  height: 40px;
  width: 65px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  border-radius: 0 5px 5px 0;
  margin-left: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #f5fafe;
  font-family: "Mulish", sans-serif;
}

#header .header-up {
  font-size: 10px;
  font-weight: 400px;
  line-height: 12, 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

#header .header-up i {
  padding-right: 0.5rem;
  padding-left: 6rem;
}

#header .header-medium-container {
  padding: 1.5rem;
}

#header .header-medium {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1rem;
}

#header .header-medium .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-medium .account div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
}

#header .header-medium .account div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

#header .header-medium .account .fas {
  padding: 0.5rem 4.8em;
}

#header .header-medium .account .fa {
  padding: 0.5em;
}

#header .navbar-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

#header .navbar-container ul li a {
  color: #fff;
  text-decoration: none;
}

#header .navbar-container ul li:hover a {
  color: #ec1f46;
}

#section-hotel .hotel-name-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-hotel .page-location-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-size: 13.5px;
  width: 50%;
  margin-bottom: 1.5rem;
}

#section-hotel .hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

#section-hotel .hotel-info .hotel-image {
  border-radius: 5px;
  padding-right: 2rem;
}

#section-hotel .hotel-info .hotel-image img {
  width: 670px;
  height: 450px;
  border-radius: 5px;
}

#section-hotel .hotel-info .hotel-value {
  width: 350px;
  height: 210px;
  background-color: #0a223d;
  color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

#section-hotel .hotel-info .hotel-value div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-hotel .hotel-info .hotel-value div .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  height: 130px;
  padding: 1.5rem;
}

#section-hotel .hotel-info .hotel-value div .left .lead {
  font-size: 10px;
}

#section-hotel .hotel-info .hotel-value div .left .quick-booking {
  font-size: 18px;
  margin-top: 0.7rem;
}

#section-hotel .hotel-info .hotel-value div .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 130px;
  font-size: 12px;
}

#section-hotel .hotel-info .hotel-value div .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  padding: 0.3rem 1rem;
}

#section-hotel .hotel-info .hotel-value div .right div span {
  font-size: 22px;
}

#section-hotel .hotel-info .hotel-value div .right div:first-child {
  margin-top: 1rem;
}

#section-hotel .hotel-info .hotel-value div .right div:last-child {
  margin-top: 0.9rem;
}

#section-hotel .hotel-info .hotel-value div .right div:last-child i {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

#section-hotel .hotel-info .hotel-value div .right i {
  margin-right: 0.5rem;
}

#section-hotel .hotel-info .hotel-value div .right p {
  padding: 0.5rem;
}

#section-hotel .hotel-info .hotel-value button {
  padding: 1rem;
  background-color: #ec1f46;
  color: #fff;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}

#section-hotel .hotel-info .hotel-value button:hover {
  opacity: 90%;
}

#section-hotel .hotel-info .hotel-map-location {
  width: 350px;
  height: 210px;
}

#section-hotel .hotel-info .hotel-map-location img {
  border-radius: 10px;
}

#section-hotel-infos .hotel-infos {
  margin: 1rem 0;
}

#section-hotel-infos .hotel-infos ul {
  list-style: none;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

#section-hotel-infos .hotel-infos ul a {
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
}

#section-hotel-infos .hotel-infos ul a.current {
  color: #ec1f46;
  border-color: #ec1f46;
}

#section-hotel-infos .hotel-infos ul li a {
  color: #0a223d;
  text-decoration: none;
}

#section-hotel-infos .hotel-infos ul li:hover a {
  color: #ec1f46;
}

#section-hotel-infos .hotel-infos-content {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box1 box2" "box3 box3";
  grid-gap: 1rem;
}

#section-hotel-infos .hotel-infos-content .box1 {
  background-color: #ffffff;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  height: 220px;
  width: 510px;
}

#section-hotel-infos .hotel-infos-content .box1 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

#section-hotel-infos .hotel-infos-content .box1 div div {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  font-size: 12px;
}

#section-hotel-infos .hotel-infos-content .box1 div div .fa {
  padding-right: 1rem;
  font-size: 14px;
}

#section-hotel-infos .hotel-infos-content .box2 {
  background-color: #ffffff;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
  height: 220px;
  width: 510px;
}

#section-hotel-infos .hotel-infos-content .box2 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

#section-hotel-infos .hotel-infos-content .box2 div:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-hotel-infos .hotel-infos-content .box2 div div {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 220px;
  font-size: 12px;
}

#section-hotel-infos .hotel-infos-content .box2 div div .fa {
  padding-right: 1rem;
  font-size: 14px;
}

#section-hotel-infos .hotel-infos-content .box3 {
  border-radius: 5px;
  margin-top: 1.5rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box3;
  background-color: #ffffff;
  width: 100%;
}

#section-hotel-infos .hotel-infos-content .box3 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /*display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3rem;
            padding: 2rem 0 0 1.2rem;*/
  padding: 2em;
}

#section-hotel-infos .hotel-infos-content .box3 .items .item {
  width: 330px;
}

#section-hotel-infos .hotel-infos-content .box3 .items .item-title {
  color: #ec1f46;
  font-size: 13px;
  padding-left: 1rem;
  font-weight: bold;
}

#section-hotel-infos .hotel-infos-content .box3 .items .item ul {
  padding-top: 0.6rem;
  list-style: none;
}

#section-hotel-infos .hotel-infos-content .box3 .items .item ul li {
  font-size: 12px;
  padding: 0.8rem;
}

#section-hotel-infos .hotel-infos-content .box3 .items .item ul li i {
  font-size: 14px;
  padding-right: 1.2rem;
}

#section-hotel-infos .other-packages .other-packages-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-hotel-infos .other-packages .other-packages-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .packages-img img {
  border-radius: 5px 0 0 5px;
  width: 346px !important;
  height: 500px !important;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .packages-img .flash-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 40px;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  font-size: 14px;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content .content-title {
  padding-bottom: 2rem;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content .content-title i {
  font-size: 0.3rem;
  color: #f2994a;
  padding-bottom: 0.5rem;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content .package-icons {
  padding: 3rem 0 !important;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content .package-icons i {
  padding-right: 1rem !important;
  padding-top: 1rem !important;
}

#section-hotel-infos .other-packages .other-packages-items > *:first-child .package-content .package-value div {
  padding-right: 3.8rem;
}

#section-hotel-infos .other-packages .other-packages-items .package-item {
  border-radius: 5px;
  background-color: #0a223d;
  color: #fff;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .packages-img {
  position: relative;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .packages-img img {
  border-radius: 5px 5px 0 0;
  width: 340px;
  height: 250px;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .packages-img .flash-offer {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1;
  border-radius: 0 5px 5px 0;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .content-title {
  font-size: 18px;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .content-title i {
  font-size: 0.3rem;
  color: #f2994a;
  padding-bottom: 0.5rem;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 10px;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-icons i {
  padding-right: 1rem;
  padding-top: 1rem;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-value div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5rem;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-value div .discount {
  font-size: 14px;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-value button[type="submit"] {
  border-radius: 5px;
  float: right;
  height: 40px;
  width: 120px;
  background-color: #ec1f46;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

#section-hotel-infos .other-packages .other-packages-items .package-item .package-content .package-value button[type="submit"]:hover {
  opacity: 90%;
}

#section-about-us {
  padding: 4rem 0;
}

#section-about-us .about-us-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-about-us .about-us {
  max-width: 730px;
  height: 280px;
  margin: auto;
  position: relative;
}

#section-about-us .about-us .owl-nav {
  position: absolute;
  top: 40%;
}

#section-about-us .about-us .owl-nav .owl-prev {
  position: absolute;
  left: -10rem !important;
}

#section-about-us .about-us .owl-nav .owl-next {
  position: absolute;
  left: 55rem !important;
}

#section-about-us .about-us img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 44%;
  z-index: 3;
}

#section-about-us .about-us .content {
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-about-us .about-us .content .user-info {
  z-index: 2;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-about-us .about-us .content .user-info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 0.5rem;
  font-weight: bold;
  color: #ec1f46;
}

#section-about-us .about-us .content .user-info .stayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-about-us .about-us .content .user-info .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-about-us .about-us .content .user-info .stars i {
  font-size: 5px;
  color: #f2994a;
  padding: 0.2rem;
}

#section-about-us .about-us .content .text {
  text-align: center;
  font-size: 12px;
  padding: 1rem;
  width: 550px;
}

#section-subs-to-our {
  background: url(img/hotel.jpg);
  color: #ffffff;
  margin-bottom: 1.5rem;
}

#section-subs-to-our .showcase {
  /* Overlay */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#section-subs-to-our div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-subs-to-our div span {
  padding: 3rem;
  font-size: 22px;
}

#section-subs-to-our div span p {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

#section-subs-to-our div .search {
  padding: 3.5rem;
}

#section-other-activities {
  margin: 2rem 0;
}

#section-other-activities .items {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#section-other-activities .items .item {
  background: url(img/hotel.jpg) no-repeat center center/cover;
  border-radius: 5px;
  height: 255px;
  width: 255px;
}

#section-other-activities .items .item div {
  padding: 9rem 1rem 1rem 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-other-activities .items .item div span {
  width: 200px;
}

#section-other-activities .items .item div button {
  margin-top: 1rem;
  height: 30px;
  width: 100px;
  font-size: 12px;
}

#section-footer {
  background-color: #0a223d;
  color: #fff;
  padding: 2rem 0;
}

#section-footer .footer-top {
  padding-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#section-footer .footer-top .logo {
  font-size: 48px;
}

#section-footer .footer-top .child2 {
  width: 325px !important;
}

#section-footer .footer-top .child3 {
  width: 240px !important;
}

#section-footer .footer-top .footer-top-item {
  padding: 0 1rem;
}

#section-footer .footer-top .footer-top-item .title {
  font-size: 18px;
}

#section-footer .footer-top .footer-top-item ul {
  margin-top: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-footer .footer-top .footer-top-item ul li {
  font-size: 14px;
  padding: 0.1rem 0;
}

#section-footer .footer-top .footer-top-item ul li a {
  text-decoration: none;
  color: #fff;
}

#section-footer .footer-top .footer-top-item ul li a:hover {
  color: #ec1f46;
}

#section-footer .footer-top .footer-top-item ul .social-media {
  margin-top: 1rem;
}

#section-footer .footer-top .footer-top-item ul .social-media span {
  margin-right: 2rem;
  font-weight: bold;
}

#section-footer .footer-top .footer-top-item ul .social-media i {
  padding: 0 0.5rem;
}

#section-footer .footer-top .footer-top-item ul .social-media i:hover {
  color: #ec1f46;
  cursor: pointer;
}

#section-footer .footer-down {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#section-footer .footer-down-item {
  font-size: 12px;
}

#section-footer .footer-down-item .title {
  font-size: 16px;
}

#section-footer .footer-down-item ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#section-footer .footer-down-item ul li {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

#section-footer .footer-down-item ul li i {
  padding-right: 1rem;
}

#section-footer .footer-down-item form .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name phone" "message message ";
  grid-gap: 1rem;
}

#section-footer .footer-down-item form .text-fields .text-input {
  height: 40px;
}

#section-footer .footer-down-item form .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#section-footer .footer-down-item form .text-fields .phone-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: phone;
}

#section-footer .footer-down-item form .text-fields .message-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 140px;
}

#section-footer .footer-down-item form .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-footer .page-bottom {
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr 1fr;
      grid-template-columns: 1fr 7fr 1fr;
}

#section-footer .page-bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-footer .page-bottom ul li {
  padding: 0 0.5rem;
}

#section-footer .page-bottom ul li a {
  text-decoration: none;
  color: #fff;
}

#section-footer .page-bottom ul li a:hover {
  color: #ec1f46;
}

#section-footer .page-bottom .cards {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-footer .page-bottom .cards i {
  padding: 0 0.3rem;
}
/*# sourceMappingURL=style.css.map */